gridster,
.gridster,
[gridster] {
    & * {
        box-sizing: border-box;
    }

    ul {
        li {
            list-style: none;
            overflow: hidden;

            .ui-resizable-handle {
                &.ui-resizable-e {
                    right: -2px;
                }
                &.ui-resizable-s {
                    bottom: -2px;
                }
            }

            &[widget] {
                background: gray;
                cursor: pointer;
            }

            &.preview-holder {
                background: rgba(0,0,0,0.5);
            }

            .content {
                height: 100%;
                overflow: auto;
            }

        }

    }

}
