<div class="row-fluid">
	{{status}}
	<div class="pull-right">
		<div ng-show="selectedView.permissions.upload_content">
			<div class="btn btn-small btn-primary"
			     ng-click="upload(item, $index)">
				Upload
			</div>
		</div>

		<div ng-show="selectedView.permissions.delete_content">
			<div class="btn btn-small btn-danger"
			     ng-click="delete(item, $index)">
				Edit
			</div>
		</div>

	    <div ng-show="selectedView.permissions.edit_content">


		    <div class="btn btn-small btn-primary"
	                ng-click="edit(item, $index)"
	                ng-show="status.editing == false">
	            Edit
	        </div>

		    <div class="btn btn-small btn-primary"
	                ng-click="save(item, $index)"
	                ng-show="status.editing == $index">
	            Save
	        </div>

		    <div class="btn btn-small btn-warning"
	                ng-click="cancel(item, $index)"
	                ng-show="status.editing == $index">
	            Cancel
	        </div>
	    </div>
	</div>
</div>
