<ul>
    <li on-repeat-last='$parent.initGrid()'
        ng-repeat='widget in widgets'
        widget='widget'
        datasource='datasource'
        remove='removeWidget(widget)'

        data-widget-id='{{widget.id}}'
        data-col='{{widget.grid.col}}'
        data-row='{{widget.grid.row}}'
        data-sizex='{{widget.grid.sizex}}'
        data-sizey='{{widget.grid.sizey}}'>

        <header>
            <h3>{{widget.title}}</h3>

            <div widgetnav></div>

            <!--<div class="btn btn-medium close" ng-click="remove($event)">&times;</div>-->
        </header>

        <div class='content'
             prevent-win-scroll
             infinite-scroll='scrolled()'
             infinite-scroll-distance='50'
             infinite-scroll-immediate-check='true'
             ng-include='widget.currentTemplate'
             onload='contentLoaded()' >
        </div>

    </li>
</ul>
