<ul>
    <li on-repeat-last='$parent.initGrid()'
        ng-repeat='this_widget in widgets'
        widget='this_widget'
        remove='removeWidget(this_widget)'

        data-widget-id='{{widget.id}}'
        data-col='{{widget.grid.col}}'
        data-row='{{widget.grid.row}}'
        data-sizex='{{widget.grid.sizex}}'
        data-sizey='{{widget.grid.sizey}}'>

        <header>
            <h3>{{widget.title}}</h3>
            <div class="btn btn-medium close" ng-click="remove($event)">&times;</div>
        </header>

        <div class='content'>


            <p>
                {{widget.grid | json}}
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa id iure minus nemo quis sint. Ab corporis dolorum enim eos est fugiat, ipsa libero officia quaerat rem reprehenderit voluptates.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa id iure minus nemo quis sint. Ab corporis dolorum enim eos est fugiat, ipsa libero officia quaerat rem reprehenderit voluptates.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa id iure minus nemo quis sint. Ab corporis dolorum enim eos est fugiat, ipsa libero officia quaerat rem reprehenderit voluptates.
            </p>
        </div>
    </li>
</ul>
