<div ng-controller='tpl1_ctrl'>
    <h1>tpl1</h1>
    <div ng-hide="trackers.demographics.active()">Done {{demographics}}</div>
    <div>--
        {{demographics}}--</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cumque dignissimos, exercitationem in ipsum libero tempora voluptate voluptates voluptatum! Adipisci eaque fugiat ipsam magnam magni sint tenetur ut vero?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cumque dignissimos, exercitationem in ipsum libero tempora voluptate voluptates voluptatum! Adipisci eaque fugiat ipsam magnam magni sint tenetur ut vero?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cumque dignissimos, exercitationem in ipsum libero tempora voluptate voluptates voluptatum! Adipisci eaque fugiat ipsam magnam magni sint tenetur ut vero?</p>
</div>
