<div ng-controller='tpl2_ctrl'>
    <h1>tpl2</h1>
    <h3 ng-show="tracker.active()">Loading...</h3>
    <div ng-hide="tracker.active()">
        <accordion close-others="true">
            <accordion-group ng-repeat="item in data.items">
	            <edit-controls></edit-controls>

	            <div ng-if="status.idx != $index">
		            <accordion-heading>
			            <h5>{{item.name}}</h5>
		            </accordion-heading>
		            content
	            </div>

	            <div ng-if="status.editing == true && status.idx == $index">
		            <accordion-heading>
			            <h5>{{item.name}}</h5>
		            </accordion-heading>
		            Editing content
	            </div>


            </accordion-group>
        </accordion>
    </div>
</div>